body {
    margin: 0;
    background-color: black;

}


/* -------------------------------------HEADING SECTION --------------------------------------*/
#heading {
    text-align: center;
    position: absolute;
    color: aliceblue;
    font-size: 4rem;
    text-shadow: 2px 2px rgba(222, 111, 222, 0.3);

    top: 35%;
    /* for center-ing */
    left: 0;
    right: 0;

    font-family: 'Comfortaa', cursive;
}

#guide{
    font-size: 1rem;
    
}

/* -------------------------------------FULLSCREEN -------------------------------------*/
#full {
    position: absolute;
    left: 1.5vh;
    top: 4%;
    border: 2px solid rgba(249, 168, 105, 0.1);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    color: rgb(254, 203, 113);

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(50px);
    box-shadow: 2px 0px 15px -3px rgba(0,0,0,0.1),0px 6px 15px -3px rgba(0,0,0,0.1);
    z-index: 2;

}
#full:hover{
    color: white;
    background-color: rgb(105, 101, 101,0.3);
    cursor: pointer;
}

/* ------------------------------------- EMBEDDED MUSIC  -------------------------------------*/
#embedded{
    width: 18%;
    height: 20%;
  position: absolute;
  z-index: 3;
  padding: 0.5%;
  backdrop-filter: blur(10px);
  overflow-y: hidden;

  margin: 0.5%;
  text-align: center;

  border: 5px solid rgb(249, 249, 249, 0.05);
    border-radius: 10px;


}

#embedded a{
    text-decoration: none;
}

#embedded:hover{

    opacity: 1;
     height: 90vh ; 
     background-color: rgba(140, 0, 255, 0.2);
}





/* ------------------------------------- CONTROL CENTER ------------------------------------- */

section {
    position: absolute;
    top: 48%;
    left: 3%;

}

#controlCenter {
    border: 5px solid rgb(249, 249, 249, 0.05);
    border-radius: 10px;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;

    backdrop-filter: blur(15px);

}

#controlCenter:hover{
    background-color: rgba(140, 0, 255, 0.1);
}

#controlCenter div {

    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

#controlCenter button {
    width: 100px;
    padding: 3px;
    box-shadow: 2px 0px 15px -3px rgba(0,0,0,0.1),0px 6px 15px -3px rgba(0,0,0,0.1);
}

.btnStyle{
    color: white;
    background-color: rgb(15, 15, 15,0);
}




/*  ------------------------------------- CLOCK ------------------------------------- */

#clock {
    border: 2px;
    color: rgb(245, 197, 134);
    text-align: center;
    display: block;
    margin-top: 2%;
}

#clock div {
    padding: 2px;
}
#clock:hover{
    cursor: default; 
}






/* ------------------------------------- MUSIC PLAYER SETTING ------------------------------------- */

#playerControl {

    /* opacity is zero to hid the element for now */
    opacity: 0;  
    display: flex;
    border-radius: 20px;
    width: 20%;
    height: 60px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(20px);

    /* positioning */
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;


}

#playerControl i {
    
    color: rgb(239, 194, 134);
}


#playerControl i:hover{
    color: rgb(255, 252, 249);
    cursor: pointer;
}





/* ------------------------------------- SCENES SECTION ------------------------------------- */

li {
    list-style: none;
}

/* close button */
#menuCloseButton{

    display: none;
    position:absolute;
    z-index: 2;
    bottom: 29%;
    right: 48.5%;
    color: rgb(246, 202, 137);
}
#menuCloseButton:hover{
       color:wheat ;
}



#photos {
    display: none;
    position: absolute;

    border: 5px solid rgb(249, 249, 249, 0.05);
    border-radius: 10px;
    height: 280px;
    width: 90vw;
    overflow-x: scroll;
    bottom: 3%;
    left: 5%;
    white-space: nowrap;
    backdrop-filter: blur(10px);



}


#photos div {
    display: inline-block;

    border-radius: 5px;


    height: 180px;
    width: 20%;
    margin: 2.5%;
    margin-left: 10 px;
    overflow: hidden;

}

#photos div:hover {
    border: 4px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

#photos img {
    width: 140%;
}

/* ------------------------------------- custom scrollbar ------------------------------------- */
#photos::-webkit-scrollbar {
    width: 0.5em;
}

#photos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#photos::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    outline: 1px solid rgb(249, 249, 249, 0.3);

}





#sceneMenu {
    border: 1px solid black;
    width: 12%;
    position: absolute;
    right: 5%;
    top: 40%;
}

#sceneMenu li {
    margin: 2px;
}

#scene {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

}

#scene img {
    margin-top: -7%;
    height: 120vh;
}

 
/*  ------------------------------------- MODAL  ------------------------------------- */

#modal{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#modalContent{
    text-align: center;
    cursor:default;
    color: rgb(248, 212, 166);
    
    padding: 3%;
    border-radius: 12px;
    backdrop-filter: blur(50px);
    box-shadow: 2px 0px 15px -3px rgba(0,0,0,0.1),0px 6px 15px -3px rgba(0,0,0,0.1);
}

#modalCloseBtn{
   cursor: pointer;
   color: rgb(248, 212, 166);
}

